body {
    width: 940px;
    margin: auto;
}
table, td {
    border: solid black 0.1rem;
}

td {
    padding: 1rem;
}
.glyphicon-star {
    font-size: 40px;
    color: #e67e22;
}
.half {
    position: relative;
}
.half:before {
     position: relative;
     z-index: 9;
     width: 47%;
     display: block;
     overflow: hidden;
 }
.half:after {
     content: '\e006';
     position: absolute;
     z-index: 8;
     color: #bdc3c7;
     top: 0;
     left: 0;
 }
.fas.fa-star {
    color: gold;
}
.fas.fa-star-half {
    color: gold;
}
body#blog_search #main h1,
body#blog_search #main p {
    margin-bottom: 0.5em
}

body#blog_search article.post:first-child {
    margin-top: 2em;
}

body#blog_search article.post {
    margin-bottom: 2em;
}

body#blog_search .post-metadata {
    font-size: 16px;
    margin-bottom: 8px;
}
.jumbotron {
   background-color: #c7ddef;
}
footer {
    padding: 25px;
}