<form method="post" action="{{ path('review_delete', {'id': identifier}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ identifier) }}">
    <input name="btn_delete" type="submit" value="Delete Review" class="btn btn-outline-danger">
</form>