{{ form_start(form) }}
    {{ form_widget(form) }}
    <button name='btn_submit' class="btn btn-outline-success" style="margin-right: 1%">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}