{% extends 'base.html.twig' %}

{% block title %}New Drink{% endblock %}

{% block body %}

    <h1 class="display-4">Add a new Drink</h1>

    {% include 'recipe/_form.html.twig' with {'form': form} only %}

{% endblock %}