{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <form action="{{ path('recipe_search') }}" method="get">
        <div class="form-group">
            <input name="q"
                   class="form-control search-field"
                   placeholder="Search"
                   autocomplete="off"
                   autofocus>
        </div>
    </form>

    <div id="results">
        {% if recipes != null %}
            {% for recipe in recipes %}
                {{ recipe.title }}
            {% endfor %}
        {% else %}
            <p class="lead">No Results found</p>
        {% endif %}
    </div>

{% endblock %}
