{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <h1 class="display-4">Sign up</h1>
    <br>
    {% include 'user/_form.html.twig' with {'form': form} only %}

{% endblock %}